<!DOCTYPE html>
<html lang="en" ng-app="phonelistApp">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Phone List</title>
		<link href="https://fonts.googleapis.com/css?family=Girassol|Public+Sans&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="styles.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	</head>
	<body ng-controller="phonelistController as vm">
		<div id="outer-wrapper" ng-controller="ScrollController">
			<div><a id="top">Top</a></div>
			<div class="header">
				<div id="logo-and-title" ng-click="gotoTop()">
					<div id="logo"></div>
					<div id="site-title">H.W. Phone List</div>
				</div>			
				<div id="hamburger" ng-click="handleHamburgerClick()">
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div id="searchbar" ng-click="gotoTop()">
					<input id="search-input" type="text" ng-model="vm.search" placeholder="Search by name or title"><img id="magnifying-glass" src="https://img.icons8.com/pastel-glyph/2x/search--v2.png" alt="magnifying glass" />
				</div>
			</div>
			<div class="agencies">
				<div ng-repeat="section in staff">
					<div class="agency" ng-click="scrollToSection()">{{section.name}}</div>
				</div>
				<div class="agency" ng-click="scrollStudents()">Students</div>
			</div>
			
				
				<div class="container">
					<div class="row" id="search-results-container" ng-show="(vm.search).length > 0">
						<div id="search-results-header">
							<div class="col-xs-8 col-sm-10" id="search-results-heading">
								<div>Search Results</div>
								<div id="no-matches" ng-show="(allIndividuals | filter: vm.search)==0">No Matches</div>
							</div>
							<div class="col-xs-4 col-sm-2">
								<div id="search-close" ng-click="vm.search=[]">close</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div ng-repeat="individual in allIndividuals">
									<div class="listing" ng-repeat = "member in individual.members | filter: vm.search">
										<div class="line-item">
											<div class="category">Name</div>
											<div>{{member.name}}</div>
										</div>
										<div class="line-item">
											<div class="category">Title</div>
											<div>{{member.title}}</div>
										</div>
										<div class="line-item">
											<div class="category">Office #</div>
											<div>{{member.officeNumber}}</div>
										</div>
										<div class="line-item">
											<div class="category">Cell #</div>
											<div>{{member.cellNumber}}</div>
										</div>
										<div class="line-item delineator">
											<div class="category"></div>
											<div>. . .</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
						<div class="main">
							<div class="listings-panel" id="faculty-section">
								<div ng-repeat="section in staff">
									<div class="section" id="{{section.id}}">{{section.name}}</div>
									<div class="listing" ng-repeat="member in section.members">
										<div class="line-item">
											<div class="category">Name</div>
											<div>{{member.name}}</div>
										</div>
										<div class="line-item">
											<div class="category">Title</div>
											<div>{{member.title}}</div>
										</div>
										<div class="line-item">
											<div class="category">Office #</div>
											<div>{{member.officeNumber}}</div>
										</div>
										<div class="line-item line-item-cell">
											<div class="category">Cell #</div>
											<div>{{member.cellNumber}}</div>
										</div>
										<div class="line-item delineator">
											<div class="category"></div>
											<div>. . .</div>
										</div>
									</div>
								</div>
							</div>
							<div class="listings-panel" id="students-section">
								<div class="section" id="students">Students</div>
								<div ng-repeat="house in students">
									<h4>{{house.name}}</h4>
									<p class="house-info">
										<span class="house-colors">{{house.colors}}</span>
										<span class="house-mascot">{{house.mascot}}</span>
										<span class="house-characteristics">{{house.characteristics}}</span>
									</p>
									<div class="listing" ng-repeat="member in house.members">
										<div class="line-item">
											<div class="category">Name</div>
											<div>{{member.name}}</div>
										</div>
										<div class="line-item">
											<div class="category">Office #</div>
											<div>{{member.officeNumber}}</div>
										</div>
										<div class="line-item">
											<div class="category">Cell #</div>
											<div>{{member.cellNumber}}</div>
										</div>
										<div class="line-item delineator">
											<div class="category"></div>
											<div>. . .</div>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
			
		</div>
		<script src="app.js"></script>
	</body>
</html>