body {
	font-family: 'Public Sans', sans-serif;
	font-size: 16px;
	line-height: 1.3;
}

.header {
	background-color: white;
	display: grid;
	grid-template-columns: 350px auto auto 70px;
	grid-template-rows: 5% 25% 45% 25%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

#logo-and-title {
	align-items: center;
	display: flex;
	font-family: 'Girassol', cursive;
	font-size: 28px;
	grid-column: 1 / span 1;
	grid-row: 1 / span 3;
	padding: 10px 0;
	width: 350px;
}

#logo-and-title>div {
	display: inline-block;
	vertical-align: middle;
}

#site-title {
	margin: 5px 0 0 5px;
}

#logo {
	background: url("https://www.freepnglogos.com/uploads/hogwarts-logo-png/hogwarts-logo-black-white-10.png");
	background-position: center center;
	background-size: contain;
	height: 120px;
	width: 120px;
}

#hamburger {
	align-content: space-around;
	border: solid 2px black;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	grid-column: 4 / span 1;
	grid-row: 2 / span 1;
	height: 40px;
	justify-content: center;
	padding: 3px 0;
	width: 40px;
}

#hamburger:hover {
	cursor: pointer;
}

#hamburger div {
	background-color: black;
	height: 4px;
	width: 25px;
}

#searchbar {
	align-items: center;
	display: flex;
	grid-column: 1 / span 4;
	grid-row: 4 / span 1;
	height: 100%;
	width: 100%;
}

#searchbar input {
	border-radius: 15px;
	border: solid 1px black;
	padding: 1%;
	width: 90%;
}

#magnifying-glass {
	height: 20px;
	width: 20px;
}

.agencies {
	margin-top: 0;
}

.agencies.show-list {
	margin-top: 180px;
}

.agency {
	background-color: #50f;
	color: white;
	font-size: 12px;
	padding: 5px 0;
	position: relative;
	text-align: center;
	top: 7px;
}

#search-results-container {
	background-color: #f3f5f7;
	padding: 100px 5px 30px 5px;
}

#search-results-header {
	color: #224c7a;
	margin-bottom: 15px;
	padding-top: 10px;
}

#search-results-heading {
	font-weight: bold;
}

#no-matches {
	font-style: italic;
	font-weight: 400;
	margin-top: 10px;
}

#search-close {
	text-declaration: underline;
}

#search-close:hover {
	cursor: pointer;
}

.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 60px;
}

.listings-panel {
	width: 100%;
}

.section {
	background-color: #50f;
	border-radius: 0 25px 25px 0;
	box-sizing: border-box;
	color: white;
	font-size: 18px;
	margin: 10px 0;
	padding: 5px;
	width: 90%;
}

.listing {
	margin-bottom: 20px;
}

.delineator {
	color: #50f;
	font-size: 24px;
}

.listing:last-of-type .delineator{
	display: none;
}

.line-item {
	display: flex;
}

.category {
	color: #212121;
	width: 100px;
}

#students-section {
	padding-bottom: 60px;
}

h4 {
	color: #23717b;
	font-size: 16px;
	font-style: italic;
	margin: 7px 0;
	font-weight: normal;
}

.house-info {
	color: #23717b;
	font-size: 11px;
	font-style: italic;
	margin: 10px 0;
}

.house-colors, .house-mascot, .house-characteristics {
	display: block;
}

@media only screen and (min-width: 992px) {
	#subtitle {
		font-size: 16px;
	}

	#searchbar { 
		grid-column: 3 / span 1;
		grid-row: 2 / span 1;
	 }

	#logo-and-title {
		grid-row: 1 / span 4;
	}

	#search-results-container {
		padding: 110px 0 30px 10px;
	}

	.agencies.show-list {
		margin-top: 140px;
	}

	.main {
		margin-top: 25px;
	}

	.listings-panel {
		width: 45%;
	}

	#faculty-section {
		padding-bottom: 60px;
	}
}

